<div class="ui vertical inverted menu">
  <a class="item">
    <i class="angle right icon"></i>
    <div class="content">
      Semantic UI
    </div>
  </a>
  <a class="item">
    <i class="angle right icon"></i>
    <div class="content">
      Semantic UI
    </div>
  </a>
  <a class="item">
    <i class="angle right icon"></i>
    <div class="content">
      Semantic UI
    </div>
  </a>
  <a class="item">
    <i class="angle right icon"></i>
    <div class="content">
      Semantic UI
    </div>
  </a>
</div>
