<sui-message class="negative icon">
  <i class="warning icon"></i>
  <div class="content">
    <div class="header">
      General Advice Warning
    </div>
    <p>This application provides general advice only and <strong><em>should not</em></strong> be used in life-threatening situations or for determining fire planning or emergency response.</p>
    <p>The data used by this application to create its advice is aggregated from a number of feeds that might not provide timely advice or adequate warning of changing circumstances.</p>
    <p>Continued usage of this application denotes acceptance of this warning.</p>
  </div>
</sui-message>
<app-menusystem></app-menusystem>

<!--The content below is only a placeholder and can be replaced.-->

