<!--The content below is only a placeholder and can be replaced.-->
<div class="ui container">

  <app-menusystem></app-menusystem>

  <div class="ui center aligned column">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>

  <div class="ui two column doubling grid">

    <div class="column">
      <div class="ui segment">
        <app-gauge></app-gauge>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <app-map></app-map>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <app-plumes></app-plumes>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <app-fires></app-fires>
      </div>
    </div>

  </div>
</div>

