<div class="ui primary pointing top attached menu">

  <a class="item" (click)="sidebar.toggle()">
    <i class="sidebar icon"></i> Menu
  </a>

  <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Dashboard
  </a>
  <a class="item" routerLink="fires" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Active Fires
  </a>
  <a class="item" routerLink="viewer3d" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Plume Viewer
  </a>
  <div class="right menu">
    <app-search></app-search>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>

<sui-sidebar-container class="ui bottom attached segment">

  <sui-sidebar class="inverted vertical" #sidebar>
    <app-toolset></app-toolset>
  </sui-sidebar>

  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
      <router-outlet></router-outlet>
  </sui-sidebar-sibling>
</sui-sidebar-container>
