<div class="ui primary pointing menu">
  <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Home
  </a>
  <a class="item" routerLink="fires" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Fire Watch
  </a>
  <a class="item" routerLink="plume" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Plume Viewer
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
