<div class="ui statistic">
  <div class="label">
    Detections in last 24 hours
  </div>
  <div class="value">
    {{detections_24hrs}}
  </div>
</div>

<div class="ui statistic">
  <div class="label">
    Known Incidents
  </div>
  <div class="value">
    {{current_incidents}}
  </div>
</div>
<div class="ui statistic">
  <div class="label">
    Days since last fire
  </div>
  <div class="value">
    {{days_since_fire}}
  </div>
</div>
<div class="ui statistic">
  <div class="label">
    Appliances in operation
  </div>
  <div class="value">
    {{active_appliances}}
  </div>
</div>
